html {
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
}

body {
    background: #203647;
}

h1 {
    color: #EEFBFB;
    text-align: center;
}

h2 {
    color: #EEFBFB;
}

section#topics > div {
    float: left;
    text-align: center;
    width: 33%;
    padding: 2px;
  }

  a:link {
    color: "#EEFBFB";
  }